* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body {
    background: #0a0f0a;
} */
header {
    background: #0f140f;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.name {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
}
.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.export {
    background: #3dd68c;
    border: none;
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 10px;
}
#md {
    background: #2a3f2a;
    color: white;
}
.theme {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-left: 1px solid white;
    padding-left: 20px;
    
}
.toolbar {
    width: 100%;
    display: flex;
}
.markdown-toolbar {
    background: #213f2a;
    padding: 20px;
    display: flex;
    width: 50%;
    align-items: center;
    /* justify-content: center; */
    text-align: left;
    gap: 20px;
}
.toolbar-btn {
    background: transparent;
    color: white;
    border: none;
}
.preview-toolbar {
    background: #161f16;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
    /* justify-content: center; */
    text-align: left;
    font-family: sans-serif;

}
.input-preview {
    display: flex;
}
textarea {
    background: #1a1f1a;
    width: 50%;
    height: 100vh;
    outline: none;
    border: none;
    color: white;
    padding: 20px;
}
#preview-page {
    background: #0d120d;
    width: 50%;
    height: 100vh;
    color: white;
    border: none;
}
